.special-products-section {
  background-color: #121212;
  padding: 2rem 2rem;
  position: relative;
  z-index: 2;
}

.products-container {
  max-width: 1200px;
  margin: 0 auto;
}

.products-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.products-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  border-right: 2px solid #ff6b00;
  padding-right: 1rem;
  display: inline-block;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  position: relative;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s;
  background-color: #1a1c1e;
  border-radius: 8px;
  width: 222px;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image-container {
  /* width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative; */

  width: 221px;
  height: 124px;
  object-fit: cover;
  border-radius: 0 0 200px 200px;
  overflow: hidden;
  display: block;
  margin-bottom: 1rem;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px 8px 0 0;
}

.product-info {
  margin-bottom: 1rem;
}

.product-title {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #fff;
  margin: 0;
}

.product-subtitle {
  font-size: 0.75rem;
  color: #ccc;
  margin: 0;
}

.product-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  /* height: 30px; */
  background-color: #161616;
  border-radius: 50%;
  transition: background-color 0.2s;

  object-fit: cover; /* برای اینکه عکس خوب برش بخوره */
  border-radius: 200px 200px 0 0; /* بالا چپ، بالا راست، پایین راست، پایین چپ */
  overflow: hidden; /* مهم: قسمت‌های اضافی رو مخفی کنه */
}

.product-arrow:hover {
  background-color: rgba(255, 107, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-image-container {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-image-container {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }

  .product-image-container {
    width: 200px;
    height: 200px;
  }
}
